
	body {background-color:gray;}
	.container{background-color:green;}
	.header{background-color:yellow;}
	.content{background-color:red;}
	.footer{background-color:blue;}

	.contentFirst{background-color:#1F2937;}
	.contentSecond{background-color:DeepPink;}
	.contentThird{background-color:blueViolet;}
	.contentFourth{background-color:purple;}



	body{
		font-family:"Roboto", sans-serif;
		margin:0;
				/* height:100vh; */
	}

	.bold-text{
		font-weight: 900;
	}

	.container{
		display:flex;
		flex-direction:column;	
				/* min-height:100vh; */
	}




	.header{
		display:flex;
		justify-content:center;
		padding:10px;
		gap:500px;
	}

	.headerRightLinks{
		display:flex;
		gap:20px;
	}


	.content{
		display:flex;
		flex-direction:column;
	}

/* .contentFirst, .contentSecond, .contentThird, .contentFourth{} */

	.contentFirst{
		display:flex;
		justify-content:center;
	}

	.left-info{
		box-sizing:border-box;
		width:550px;
	}

	.left-info h1{
		font-size:48px;
		color:#F9FAF8;
	}
	.left-info p{
		font-size:18px;
		color:Lightgray;
	}
	.left-info button{
		background-color:#3882F6;
	}



	.contentSecond{
		display:flex;	
		flex-direction:column;
		align-items:center;

		padding-bottom:42px;

		box-sizing: border-box;
	}

	.secondTitle{
		font-size:36px;
		font-weight: 900;
	}

	.secondThings {
		display:flex;
		gap:75px;	
	}

	.thing{
		display:flex;
		flex-direction:column;
		align-items: center;
		width: 125px;

		font-size: 14px;
	}

	.image-box{
	border-style: solid;
	border-color: #3882F6;
	border-radius: 5px;
	}

	.secondThings img{
		display:block;		/*	This removed the empty space under the image inside div with border	*/
		height:125px;
		width:125px;
	}	

	.contentThird{
		display:flex;
		justify-content: center;
		align-content:center;
	}

	.maxim{
		background-color: #E5E8EB	;

		display:flex;
		flex-direction: column;
		text-align: center;
		max-width:700px;
	}

	.quote{
		font-size: 36px;
		font-weight: lighter;
		color:#1F2937;
		font-style: italic;
	}
	
	.author{
		align-self: end;
	}



	.footer{
		display:flex;
	}



