
body {background-color:gray;}
.container{background-color:green;}
.header{background-color:yellow;}
.content{background-color:red;}
.footer{background-color:blue;}

.contentFirst{background-color:Pink;}
.contentSecond{background-color:DeepPink;}
.contentThird{background-color:blueViolet;}
.contentFourth{background-color:purple;}



body{
	font-family:"Roboto", sans-serif;

	min-height:100vh;
	margin:0;

	display:flex;
	justify-content:center;
}

.container{
	/*height:100vh;*/

	display:flex;
	flex-direction:column;
	
}


.header{
	display:flex;
	justify-content:center;
	padding:10px;
	gap:500px;
}

.headerRightLinks{
	display:flex;
	gap:20px;
}



.content{
	display:flex;
	flex-direction:column;
}

.contentFirst{
	display:flex;
}

.left-info{
	padding:25px;
}

.footer{
	display:flex;
}



